// UTILS
@import "./utils/variables";
@import "./utils/visually-hidden";

// BASE
@import "./base/common";
@import "./base/container";
@import "./base/section";


// COMPONENTS
@import "./components/logo";
@import "./components/section-title";
@import "./components/modal-button";
@import "./components/_social-networks-link";
@import "./components/footer-social-networks-link";
@import "./components/backprop";
@import "./components/modal-window";
@import "./components/modal-form";



// LAYOUT
@import "./layout/header";
@import "./layout/hero";
@import "./layout/advantages";
@import "./layout/works-list";
@import "./layout/employee-list";
@import "./layout/regular-clients";
@import "./layout/footer";
@import "./layout/portfolio-btn-filtr";
@import "./layout/portfolio-product";



