.employee-list {
  display: flex;
  text-align: center;
}
.employee-list-items {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-white-color);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.employee-social-networks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.employee-social-networks-items {
  display: flex;
  justify-content: center;
  
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.title-employee {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}
.position-employee {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}
.employee-card {
  padding: 30px;
}

.section-employee {
  background-color: #f5f4fa;
}
