.header {
  border-bottom: 1px solid #ececec;
  margin: 0 auto;
}
.header-container {
  display: flex;
  align-items: center;
}
.site-nav__menu-list {
  display: flex;
  justify-content: space-between;
}
.site-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .link-current {
    color: var(--accent-color);
  }
}
.site-nav__nav-item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__nav-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--accent-color);
  }
  &:focus {
    color: var(--accent-color);
  }
}
.current {
  color: var(--accent-color);
  position: relative;

  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}
.link-current {
  color: var(--accent-color);
}
.contacts-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.contacts-header__item {
  display: block;
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 50px;
  }
}
.contacts-header__link-contacts-header {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--accent-color);
  }
  &:focus {
    color: var(--accent-color);
  }
}
.contacts-header__icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.contacts-header__icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
