.menu-product {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.product-title {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.menu-product__item-card{
  margin-left: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 3 - 30px);
}
.product-link__product-name {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.product-link__product-type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

.product-link {
  text-decoration: none;
  display: block;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.wrapper-product-description{
  position: relative;
  overflow: hidden;
}

.product-link__description-product-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
.product-link:hover &{
    transform: translateY(0);
  }
}
